body { background-image : url("/images/bk_2nd.gif") ; margin-left: 0pt;
margin-top: 0pt; font-family: "Verdana";  }

.mylogo { position:absolute ; left:12pt; top:0pt; background-color: 
transparent; }

.mybanner { position:absolute ; left:100pt; top:0pt; background-color: 
transparent; }

.mymenu1 { position:absolute ; left:267pt; top:0pt; background-color: 
transparent; }

.mymenu2 { position:absolute ; left:267pt; top:16.5pt; background-color: 
transparent; }

.mymenu3 { position:absolute ; left:267pt; top:33pt; background-color: 
transparent; }

.mymenu4 { position:absolute ; left:267pt; top:49pt; background-color: 
transparent; }


